<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aigu.cloud.dao.DeptDao">
    <insert id="addDept">
       INSERT INTO dept(dname,db_source) VALUES (#{name},DATABASE());
    </insert>
    <select id="findById" resultType="com.aigu.cloud.entity.Dept" parameterType="Long">
         select * from dept where deptno = #{id}
    </select>
    <select id="findAll" resultType="com.aigu.cloud.entity.Dept">
        select * from dept
    </select>

</mapper>